body {
  font-family: "roboto", sans-serif;
  min-height: 100vh;
  margin: 0;
}

.button {
  background-color: #3882f6;
  max-width: 30%;
  color: #f9faf8;
  border-radius: 10px;
  border: none;
  padding: 5px;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1, 1, auto;
}

.header {
  color: #f9faf8;
  background-color: #1d2f47;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  max-height: 20px;
}

.header-logo {
  font-size: 20px;
}

.header-links {
  display: flex;
  list-style-type: none;
  gap: 15px;
}

.section-1 {
  display: flex;
  padding: 10% 0px;
  color: #f9faf8;
  background-color: #1d2f47;
  justify-content: center;
  gap: 30px;
}

.sec1-lhs {
  max-width: 300px;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
}

.sec1-h1 {
  font-size: 30px;
  font-weight: 800;
}

.sec1-text {
  font-size: 14px;
  font-weight: 100;
}

.landy-header {
  max-width: 300px;
  border-radius: 25px;
  border: none;
}

.section-2-title {
  font-size: 26px;
  font-weight: 800;
  color: #1d2f47;
  text-align: center;
  margin: 30px;
}

.models-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 30px;
  padding-bottom: 20px;
}

.imgs {
  max-width: 150px;
  border: 3px solid #1d2f47;
  border-radius: 5px;
}

.l1,
.l2,
.l3,
.l4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial {
  text-align: center;
  padding: 100px;
  background-color: #e5e7eb;
  font-size: 20px;
}

.btn2 {
  color: #e5e7eb;
  border: #e5e7eb solid 3px;
  background-color: #3882f6;
  padding: 2px 20px;
  border-radius: 5px;
}

.btn2:hover {
  background-color: #e5e7eb;
  color: #3882f6;
}

.sign-up {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  margin: 80px 80px;
  background-color: #3882f6;
  border-radius: 10px;
  color: white;
}

.p1 {
  font-size: 16px;
  font-weight: 800;
  margin: 4px;
}

.p2 {
  font-weight: 100;
  margin: 4px;
  font-size: 12px;
}

.footer {
  background-color: #1d2f47;
  color: #e5e7eb;
  text-align: center;
  padding: 15px;
  font-size: smaller;
}
